/* Admin Panel Styles, version 4.0a */

* {margin: 0; padding: 0;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-family: Tahoma, Geneva, sans-serif; vertical-align: baseline;}
body {width: 100%; color: #333; line-height: 1; background-color: #fff;}

h1, h2, h3, h4 {color: #333; font: normal 100%/1.2 Tahoma, Geneva, sans-serif;}
h1 {margin: 0 0 0.4em 0; font-size: 150%;}
h2 {margin: 1em 0px 0.6em 0px; color: #666; font-size: 115%;}
h3 {margin: 1em 0px 0.6em 0px; color: #666; font-size: 115%;}
h4 {margin: 1em 0px 0.6em 0px; color: #666; font-size: 115%;}

a {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
a:link {color: #3366cc;}
a:visited {color: #666699;}
a:hover, a:active {color: #ff6600;}
:focus, :active {outline: 0;}

p {margin: 0 0 0.75em 0; color: #333; font-size: 80%; line-height: 1.4;}

b, strong {font-weight: bold;}
i, em {font-style: italic;}
span.nobr {white-space: nowrap;}

ol, ul {margin: 0 0 0.75em 0;}
ol {list-style: decimal;}
ul {list-style: disc;}
li {margin: 0 0 0.5em 2.25em; color: #333; font-size: 80%; line-height: 1.4;}
li li {font-size: 100%;}
li ul, li ol {margin-top: 0.75em;}

sup, sub {font-size: 70%;}
sup {vertical-align: baseline; position: relative; top: -0.4em;}
sub {vertical-align: baseline; position: relative; bottom: -0.4em;}

/* Header */

.logo {position: absolute; z-index: 2; left: 1%; top: 7px;}

/* Navigation */

.nav {width: 100%; margin-bottom: -4px; padding-bottom: 4px; overflow: hidden;}

.navigation1 {clear: both; width: 100%; padding: 6px 0 0 0; background: #015cc8 url(/images/admin/nav.gif) repeat-x scroll left top; overflow: hidden;}
  .navigation1 ul {list-style: none; margin: 0 1% 0 2%; padding: 0 0 0 104px; /*overflow: hidden;*/}
    .navigation1 ul li {float: left; margin: 0 2px 0 0; color: #fff; font-size: 75%; line-height: 1;}
    .navigation1 ul li.active, .navigation1 ul li.chosen {padding: 5px 6px 7px 6px; color: #333; font-weight: bold; border-top: 1px solid #fff; background-color: #eee; text-shadow: 1px 1px #fff; /*background: -moz-linear-gradient(#ccc 0, #eee 20%);*/ 
      -moz-box-shadow: 0 0 16px rgba(255, 255, 255, .5);
      -webkit-box-shadow: 0 0 16px rgba(255, 255, 255, .5);
      box-shadow: 0 0 16px rgba(255, 255, 255, .5);}
      .navigation1 ul li a {display: block; padding: 6px 6px 7px 6px; color: #fff;}
      .navigation1 ul li a:hover, .navigation1 ul li a:active {padding-top: 5px; color: #333; text-decoration: none; border-top: 1px solid #fff; background-color: #eee; /*background: -moz-linear-gradient(#ccc 0, #eee 20%);*/
        -moz-box-shadow: 0 0 16px rgba(255, 255, 255, .5);
        -webkit-box-shadow: 0 0 16px rgba(255, 255, 255, .5);
        box-shadow: 0 0 16px rgba(255, 255, 255, .5);}
      .navigation1 ul li.active a, .navigation1 ul li.chosen a {padding: 0; color: #333; border: 0;}
    .navigation1 ul li.r {float: right;}

.navigation2 {clear: both; width: 100%; min-height: 2px; padding: 0 0 0.1em 0; border-bottom: 1px solid #ccc; background-color: #eee; /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);*/}
  .navigation2 ul {list-style: none; width: 98%; margin: 0 1% 0 1%; overflow: hidden;}
    .navigation2 ul li {float: left; margin: 0 2px 0 0; padding: 6px 6px 4px 6px; color: #333; font-size: 75%; line-height: 1;}
    .navigation2 ul li.active, .navigation2 ul li.chosen {font-weight: bold; text-shadow: 1px 1px #fff;}

/* Content */

.container {min-width: 980px;}

.content {width: 94%; margin: 20px 3% 30px 3%;}

h1 a img {margin: 0; padding: 0; vertical-align: top;}
p img, li img {vertical-align: text-top;}

.cols {clear: both; overflow: hidden;}
.cols .left {float: left; width: 65%;}
.cols .right {width: 25%; margin: 0 0 0 75%;}

/* Tables */

table {border-collapse: collapse; border-spacing: 0;}
  table td p {font-size: 100%; margin: 0;}

table.legend tr {vertical-align: top;}
table.legend th {padding: 0 8px 8px 0; font-size: 75%; font-weight: normal; line-height: 1.2; vertical-align: top; text-align: center;}
table.legend td {padding: 0 0 8px 0; font-size: 75%; font-weight: normal; line-height: 1.2;}

table.list {width: 100%; background-color: #f8f8f8;}

table.list th, table.list tfoot td {padding: 4px 12px 4px 6px; font-size: 75%; font-weight: normal; text-align: left; vertical-align: middle;}
table.list th {color: #fff; background-color: #579bdf;}
  table.list th a {color: #fff;}
  table.list th.icon {width: 20px;}
  table.list th.iconza {width: 40px; text-align: left;}
table.list tfoot td {color: #333; background-color: #eee;}

table.list td {padding: 8px 12px 8px 6px; color: #333; font-size: 75%; font-weight: normal; vertical-align: middle; border-bottom: 1px solid #ddd; background-color: #f8f8f8;}
table.list .form input, table.list .form select, table.list .form textarea {font-size: 100%;}

table.list tbody tr.light td {background-color: #e8e8e8;}
table.list tbody tr.root td {background-color: #f8f8f8;}
table.list tfoot tr.actions td {text-align: right;}
table.list tfoot tr.actions td input {font-size: 11px;}

table.list tbody tr td.level_1, dt.level_1 {padding-left: 20px;}
table.list tbody tr td.level_2, dt.level_2 {padding-left: 40px;}
table.list tbody tr td.level_3, dt.level_3 {padding-left: 60px;}
table.list tbody tr td.level_4, dt.level_4 {padding-left: 80px;}
table.list tbody tr td.level_5, dt.level_5 {padding-left: 100px;}

tbody#pages tr td a.parent img {vertical-align: text-top;}

.ellipsis {line-height: 1.4;}

img.-move, img._move {cursor: move;}

/* Misc */

.confirm-message {display: none;}

#help {display: none; padding-bottom: 0.5em;}
#help p {margin: 0 0 0.5em 0; color: #333; font-size: 75%;}

.helper {padding: 0.5em 0.5em 0.5em 25px; border: 1px solid #ddd; background: #f8f8f8 url(/images/icons/move.png) no-repeat 4px 4px; width: auto; height: auto; font-size: 100%; font-weight: normal;}
.helper.reorder {background: #f8f8f8 url(/images/icons/reorder.png) no-repeat 4px 3px;}
.ui-sortable-helper {font-size: 75%;}
.ui-sortable-placeholder {height: 36px !important;}

.filter {clear: both; margin: 0 0 12px 0; overflow: hidden;}
.filter ul {list-style: none; margin: 0; padding: 0;}
.filter ul li {float: left; margin: 0 12px 0 0; padding: 0;}

.pagination {clear: both; margin: 0 0 12px 0; padding: 0; color: #333; font-size: 75%; overflow: hidden;}
.pagination em, .pagination a {display: block; float: left; margin: 0 2px 0 0; padding: 0.2em 0.4em 0.2em 0.4em; font-style: normal;}
.pagination em, .pagination a:hover, .pagination a:active {color: #333; text-decoration: none; background-color: #ddd;}
.pagination .disabled {display: none;}

.pages {margin: 0 0 12px 0; padding: 0;}
.pages ul {list-style: none; margin: 0; padding: 0;}
.pages ul li {margin: 0 0 4px 0; padding: 0;}

.pages ul li div {position: relative; margin: 0; padding: 8px 0 8px 0; background-color: #f8f8f8; border: 1px solid #e8e8e8; overflow: hidden;}
.pages ul li div:hover {background-color: #e8e8e8;}
.pages ul li img.-move {display: block; position: absolute; z-index: 2; left: 8px; top: 10px; margin: 0;}
.pages ul li img.-state {display: block; position: absolute; z-index: 2; right: 136px; top: 10px; margin: 0;}
.pages ul li img.-nav {display: block; position: absolute; z-index: 2; right: 112px; top: 10px; margin: 0;}
.pages ul li a.-edit {display: block; position: absolute; z-index: 2; right: 48px; top: 9px; margin: 0;}
.pages ul li a.-show {display: block; position: absolute; z-index: 2; right: 72px; top: 9px; margin: 0;}
.pages ul li input {display: block; position: absolute; z-index: 2; right: 8px; top: 10px; margin: 0;}
.pages ul li span {display: block; margin: 0 600px 0 32px;}
.pages ul li i {display: block; float: right; width: 400px; margin: 0 176px 0 0; font-style: normal;}

.pages ul li ul {margin-top: 4px;}
.pages ul li ul li {margin-left: 32px;}

.pages ul .dragging {width: auto !important; border: 1px solid #e8e8e8;}
.pages ul .dragging div {padding-right: 32px;}
.pages ul .dragging span {margin-right: 0;}
.pages ul .dragging a, .pages ul .dragging img.-state, .pages ul .dragging img.-nav, .pages ul .dragging input, .pages ul .dragging i {display: none !important;}

.pages ul .placeholder {background-color: #d8d8d8;}

.mainpage {position: relative; margin: 0 0 4px 0; padding: 11px 0 11px 8px; font-size: 75%; font-weight: normal; background-color: #f8f8f8; border: 1px solid #e8e8e8;}
.mainpage:hover {background-color: #e8e8e8;}
.mainpage a {display: block; position: absolute; z-index: 2; right: 48px; top: 9px; margin: 0;}

.ui-dialog-content {font-size: 95%;}
.upload {margin: 0 0 10px 0;}
.upload form input {font: normal 75%/1 Tahoma, Geneva, sans-serif;}

.swfupload {margin: 0 0 1em 0; height: 23px;}

.loading {position: fixed; z-index: 11; left: 50%; top: 50%; width: 300px; height: auto; margin: -50px 0 0 -150px; padding: 0; background-color: #ddf8cc;}
.progress {border: 1px solid #c5deb6; margin: 4px; padding: 15px 20px 12px 20px;}
.loading p {color: #333; font: normal 75%/120% Tahoma, Geneva, sans-serif;}
.loading p.name {margin: 0;}
.loading p.bar {margin-top: 4px; padding: 2px; border: 1px solid #afc4a1;}
.loading p.bar span {display: block; width: auto; height: 4px; background-color: #afc4a1;}
.loading p.processing {height: 10px; margin-top: 4px; font-size: 60%; line-height: 1;}

.ie {display: none; margin: 10px; color: #333; font: normal 80%/1.4 Tahoma, Geneva, sans-serif;}

/* Forms */

input, textarea, select {font-family: Tahoma, Geneva, sans-serif;}
input, textarea {padding: 2px;}
textarea.mini {height: 52px;}
textarea.normal {height: 102px;}
textarea.maxi {height: 152px;}
select {margin: 0 4px 0 0; padding: 1px 1px 1px 0;}
select option {padding: 0 12px 0 4px;}
option.level_1 {padding-left: 1em;}
option.level_2 {padding-left: 2em;}
option.level_3 {padding-left: 3em;}
option.level_4 {padding-left: 4em;}
option.level_5 {padding-left: 5em;}

.autosize {width: auto !important;}
.xs {width: 4%;}
.s {width: 8%;}
.m {width: 15%;}
.l {width: 30%;}

input[type=file] {margin: 2px 0 2px 0;}
input[type=hidden] {display: none !important;}

input.error, select.error, textarea.error {border: 1px solid #ff0000;}

.comment, .formError {clear: left; display: block; width: auto; margin: 4px 0 0 20%; padding: 2px 0 0 0;}
.formError {color: #ff0000; font-size: 75%; font-weight: bold;}
.comment {color: #666; font-size: 75%;}

form.formtastic {padding: 0.8em 1em 1em 1em; border: 4px solid #ddd; background-color: #f8f8f8;}
form.formtastic fieldset {display: block; margin: 0 0 1em 0; padding: 1em 1em 0 1em; border: 1px solid #bbb;}
form.formtastic legend {margin: 0 0 0 -4px; padding: 0 4px 0 4px; color: #333; font-size: 80%; font-weight: bold;}
form.formtastic ol li {display: block; width: 100%; margin: 0 0 12px 0;}

form.formtastic ol li fieldset {margin: 0; padding: 0; border: 0;}
form.formtastic ol li fieldset legend {margin: 0; padding: 0; font-size: 100%; font-weight: normal;}

form.formtastic .inputs label {padding-top: 0.3em; font-size: 90%;}
form.formtastic .inputs .string {position: relative;}
form.formtastic .inputs .string label {padding-top: 0.4em;}
form.formtastic .inputs input {padding-top: 2px; padding-bottom: 2px; width: 74%;}
form.formtastic .inputs .boolean input {padding: 0; width: auto;}
form.formtastic .inputs textarea {padding: 2px;}
form.formtastic .inputs select {height: 1.75em;}

form.formtastic .inputs .select select {max-width: 37%;}

form.formtastic fieldset ol li.boolean {margin-top: -6px; margin-bottom: 0;}
form.formtastic .inputs .boolean input {margin: 0 0.75em 0 0; vertical-align: text-top;}
form.formtastic .inputs .boolean label {margin: 0; padding-top: 0; font-size: 90%;}
.ui-dialog-content .boolean input {margin-left: -6px !important;}

form.formtastic .buttons {margin: 0; padding: 0 !important; border: 0;}
form.formtastic .buttons ol li {margin: 0;}
form.formtastic .buttons ol li.commit input {font-size: 11px;}

form.formtastic .hidden ol {display: none;}
	form.formtastic .hidden legend {background: url(/images/admin/open.gif) no-repeat scroll right 0.35em; padding-right: 16px; cursor: pointer;}

form.formtastic fieldset.inputs img {display: block; margin: 3px 0 0 25%; padding: 0;}

.ui-dialog-content {min-height: 100px !important;}
.ui-dialog-content form.formtastic {margin: 0; padding: 0; border: 0; background-color: transparent;}
.ui-dialog-content form.formtastic fieldset.inputs {margin-bottom: 12px; padding-top: 18px;}
.ui-dialog-content form.formtastic fieldset.inputs label {width: 24%; padding-top: 0.25em; font-size: 90%;}
.ui-dialog-content form.formtastic fieldset.inputs input {padding: 0;}
.ui-dialog-content form.formtastic fieldset.buttons {margin: 0; padding: 0; border: 0;}
.ui-dialog-content form.formtastic fieldset.buttons input {margin-bottom: -10px; font-size: 90%;}

.inline-hints {margin: 0 0 0 25% !important; font-size: 90%;}
.inline-errors {margin: 0 0 0 25% !important; color: #ff0000; font-size: 90%; font-weight: bold; }

.hasDatepicker {width: 8em !important;}

div.actions {text-align: right;}
div.actions input {font-size: 11px;}

.attachments li {margin-bottom: 1em; overflow: hidden;}
.attachments li input {display: block; float: left; width: 250px; margin: 0 1em 0 0; padding: 0; font-size: 100%;}
.attachments li a {display: block; float: left; width: 16px; height: 16px; margin: 2px 0 0 0;}

.redactor {width: 74.25% !important;}

/*
Formtastic styles

form.formtastic fieldset.inputs {display: block; margin: 0 0 11px 0; padding: 12px 12px 0 16px; border: 1px solid #bbb;}
form.formtastic fieldset.inputs input {padding: 1px 0 1px 0;}
form.formtastic fieldset.inputs legend span {margin: 0 0 0 -4px; padding: 0 4px 0 4px; color: #222; font-weight: bold;}

form.formtastic fieldset.checks {padding-top: 4px;}
form.formtastic fieldset.inputs ol li.check_boxes fieldset ol {margin: 0.65em 0 0 25%; padding: 0;}
form.formtastic fieldset.inputs ol li.check_boxes fieldset ol li {float: left; width: 260px; margin: 0 0 0.5em 0; padding: 0; font-size: 75%;}
form.formtastic fieldset.inputs ol li.check_boxes input {display: block; float: left; margin: 0 0.5em 0.5em 0; vertical-align: text-bottom;}

form.formtastic fieldset ol li label {font-size: 75%;}
form.formtastic fieldset ol li fieldset label {font-size: 100%;}
form.formtastic li.hidden {display: none;}

form.formtastic .buttons ol li.commit {display: block; float: left !important; width: auto;}

form.formtastic fieldset.inputs ol li .flashbanner {width: 74%; margin: 4px 0 0 25%;}

form.formtastic fieldset.inputs ol li a.del {display: block; width: 100px; margin: 4px 0 0 25%; font-size: 75%; line-height: 100%; font-family: Tahoma, Geneva, sans-serif;}

form.formtastic fieldset ul.gallery li input {width: 50% !important;}
form.formtastic fieldset ul.gallery li a img {margin-top: 5px;}

form.imgs {background-color: transparent; border: 0; padding: 0;}

form.formtastic fieldset textarea {padding: 2px 2px 2px 2px;}

Formtastic styles
*/

/*
Wassup styles

table.list td.images img {display: block; float: left; margin-top: -1px;}
table.list td.images span {display: block; float: left; margin: 2px 0 0 4px;}
table.list tbody tr td.alt input {width: 51%; font-size: 100%;}

table.item {width: 100%;}
table.item th {width: 200px; text-align: left; vertical-align: middle;}
table.item td {text-align: left; vertical-align: middle;}
table.item th, table.item td {border-bottom: 1px solid #ddd; padding: 5px 5px 3px 5px;}
table.item tr.odd, table.list tr.odd td, table.list tr td.odd {background-color:#f0f0f0;}

.search {clear: both; margin: 0 0 4px 0; color: #333; font: normal 80%/120% Tahoma, Geneva, sans-serif; overflow: hidden;}
.search .group {display: inline; margin: 0 20px 0 0; white-space: nowrap;}
.search .year {display: inline; margin: 0 4px 0 0;}
.search .month {display: inline; margin: 0 4px 0 0;}
.search a.reset {display: inline;}

.edit-and-back-to-list {margin-top:15px;}

.flash {display: none; position: absolute; left: 35%; top: 0; width: 30%; margin: auto; padding: 0.25em 1em 0.4em 1em; color: #333; font-size: 75%; text-align: center; background-color: #fad163;}
.copyrights {width: 94%; margin: 30px 3% 12px 3%; color: #666; font-size: 70%; font-weight: normal; line-height: 1;}

#progress {}
#progress .desc { font-size: 0.8em; padding: 1em 0; }
#progress .progress { width: 100%; height: 1em; border: 1px solid gray; }
#progress .progress .bar { height: 1em; background-color: green; text-align: center; width: 0; }

.version {position: absolute; z-index: 10; right: 0; top: 0; float: left; width: auto; height: auto; margin: 0; padding: 1px 8px 3px 8px; color: #333; font: normal 70%/100% Tahoma, Geneva, sans-serif; background-color: #ddf8cc;}

a.switch {display: block; width: 16px; height: 16px;}
a.supervisor {background: url(/images/icons/admin.png) no-repeat scroll -16px 0;}
a.supervisor-active {background-position: 0 0;}
a.manager {background: url(/images/icons/pm.png) no-repeat scroll -16px 0;}
a.manager-active {background-position: 0 0;}
a.account_manager {background: url(/images/icons/am.png) no-repeat scroll -16px 0;}
a.account_manager-active {background-position: 0 0;}
a.newsmaker {background: url(/images/icons/nm.png) no-repeat scroll -16px 0;}
a.newsmaker-active {background-position: 0 0;}

#dialog {display: none; overflow: hidden;}

#teacher_images .image {width: 90px; position: relative; float: left; margin: 5px;}
#teacher_images .image form {margin: 0; padding: 0;}
#teacher_images .image .delete {position: absolute; top: 5px; left: 5px;}
#teacher_images .image .content {font-size: 80%;}
#teacher_images .image .description input {position: absolute; z-index: 500; display: none; margin-left: 5px; font-size: 80%;}
#teacher_images .image .description.edit-mode input {display: inline;}
#teacher_images .image .description.edit-mode .content {display: none;}

#ckimages .image {width: 90px; margin: 5px; float: left; position: relative; cursor: pointer;}
#ckimages .image img {border: 2px solid gray;}
#ckimages .image .desc {background-color: #000; opacity: 0.4; color: white; position: absolute; left: 2px; bottom: 3px; width: 87px; height: 11px; padding: 3px 0 0 3px; font-size: 9px; font-family: arial, serif;}
#ckimages .image .to_insert {display: none;}
#ckimages .image .delete {position: absolute; top: 5px; left: 5px;}
#ckimages .image .delete img {border: 0;}

.actions {clear: both;}

.count {position: relative;}
.count span {display: block; position: absolute; z-index: 2; left: 26px; top: -0.5em; margin: 0; padding: 1px 4px 3px 4px; color: #fff; font-size: 80%; text-align: center; background-color: #269acd; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px;}
.sp span {left: auto; right: 100%; top: 0; margin: 0 4px 0 0;}

.profile {margin: -0.2em 0 0 0;}
.profile .lt {float: left; width: 180px;}
.profile .rt {margin: 0 0 0 200px;}
.profile p {margin: 0 0 0.6em 0; font-size: 70%;}
.profile p.br {margin-bottom: 0;}
.profile ul {margin: 0 0 0.6em 0;}
.profile ul li {margin: 0 0 0.3em 0;font-size: 70%;}
.profile a {color: #3366cc !important;}
.profile a:hover, .profile a:active {color: #ff6600 !important;}
.profile img {margin: 0.2em 0 0.8em 0;}

.add {margin: 0; overflow: hidden;}

.add input[type=file] {cursor: pointer;}
.addimage {margin-bottom: 4px;}

.stylized .add {cursor: pointer; width: 80px; height: 20px; background: url(/images/icons/upload.gif) no-repeat scroll left center; display: block; overflow: hidden;}
.stylized .add input.file {cursor: pointer; position: relative; width: auto; height: 100%; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}

#ckimages .image {margin: 5px 5px 0 5px !important;}

table.list tr.drop_hover td {background-color: #478bcf;}

.centered {text-align: center;}

#help a.dotted:link {color: #3366cc; text-decoration: none; border-bottom: 1px dotted #3366cc;}
#help a.dotted:visited {color: #666699; text-decoration: none; border-bottom: 1px dotted #666699;}
#help a.dotted:hover, #help a.dotted:active {color: #ff6600; text-decoration: none; border-bottom: 1px dotted #ff6600;}

.ui-effects-transfer {background-color: #000; opacity: 0.1; -khtml-opacity: 0.1; -moz-opacity: 0.1; filter: alpha(opacity=10); -ms-filter: "alpha(opacity=10)";}

.letter p {color: #333; font: normal 75%/140% Tahoma, Geneva, sans-serif;}

.red-mark { color: red; }
.black-mark { color: black; }

span.img {font: normal 75%/120% Tahoma, Geneva, sans-serif;}
span.img a, span.img img {display: block; margin: 0 0 0 25%;}
span.img a {padding-top: 6px;}
img.imgpick {cursor: pointer; display: inline-block; margin: 0 0 5px 0; vertical-align: top;}

ul.menu {margin: 0; padding: 0; list-style-type: none; font: normal 100%/120% Tahoma, Geneva, sans-serif;}
ul.menu li {margin: 0; padding: 1em 0 0 0; font: normal 75%/120% Tahoma, Geneva, sans-serif;}
ul.menu li ul {margin: 0 0 0 40px; list-style-type: circle; font-size: 100%;}
ul.menu li ul li {font-size: 100%;}
ul.menu li ul li ul {list-style-type: square;}
ul.menu li ul li ul li {}
ul.menu .icons {padding: 0.25em 0 0 0;}
ul.menu .icons a {padding: 0 0.25em 0 0;}
ul.menu li.hover {padding-bottom: 30px; background: url(/images/admin/hover.gif) repeat-x scroll left bottom;}

ul.tags li { list-style-type: none; }

.cke_openbutton {position: absolute; right: -1px; top: 0;}

Wassup styles
*/
